body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

#game-container {
    width: 800px;
    height: 600px;
    overflow: hidden;
    border: 2px solid #fff;
}
